name: 'Opensearch Linter'
on:
  pull_request:
    branches: ['main']

env:
  node-version: 12

jobs:
  verify_domain_name_script:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2

      - name: Setup Node ${{ env.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node-version }}

      - name: Validate domain name 
        id: verify-domain-names
        with: 
          github_token: ${{ env.GITHUB_TOKEN }}
        uses: ./.github/verify-domain-name-uniqueness-action/


